body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.block-menu a {
    display: block;
    background-color: #0707f5;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}
.inline-menu a {
    display: inline;
    background-color: rgb(201, 234, 34);
    color: white;
    padding: 10px;
    margin: 5px ;
    text-decoration: none;

}
.inline-block-menu a{
    display: inline-block;
    background-color: #356b9b;
    color: white;
    height: 50px;
    width: 120px;
    padding: 10px 15px;
    margin: 5px ;
    text-decoration: none;
}
.float-menu a {
    float: right;
    background-color: rgb(243, 119, 4);
    color: white;
    padding: 10px 15px;
    margin: 5px ;
    text-decoration: none;
}
.clear-example a{
    clear: both;
    background-color: rgb(247, 248, 250);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
}