body{
    background-color: rgb(110, 142, 180);
    
}
h1{
    color: #d01a35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px solid rgb(127, 22, 137);
    border-radius: 20px;
}
.p1{
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2em;
    font-style: italic;
}
.p2{
    color: rgba(4, 253, 16, 0.979);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid black;
    font-style: oblique;
}
.p3{
    color: hsl(221, 52%, 31%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
}
.p4{
    font-size: 2em;
    border-bottom: 4px solid rgb(99, 224, 9);
    border-right: 4px dotted red;
    border-left: 4px dotted orangered;
    border-top: 4px solid yellow;
    border-radius: 10px;
}
h2{
    font-size: 2em;
    text-shadow: 4px 4px 6px rgb(159, 11, 11),-4px -4px 6px rgb(11, 29, 221);
}