body{
    background-color: rgb(110, 142, 180);
    border: 3px ,solid;
    display: flow-root; 
    font-size: 25px;
}
h1{
    color: #d01a35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px solid rgb(127, 22, 137);
    border-radius: 20px;
}
.p1{
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2em;
    font-style: italic;
}
.p2{
    color: rgba(4, 253, 16, 0.979);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid black;
    font-style: oblique;
}
.p3{
    color: hsl(221, 52%, 31%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
}
.p4{
    font-size: 2em;
    border-bottom: 4px solid rgb(99, 224, 9);
    border-right: 4px dotted red;
    border-left: 4px dotted orangered;
    border-top: 4px solid yellow;
    border-radius: 10px;
}
#hh{
    font-size: 2em;
    text-shadow: 4px 4px 6px rgb(159, 11, 11),-4px -4px 6px rgb(11, 29, 221);
}
.box{
    border: 2px solid;
    font-size: 3em;
    width: 150px;
    height: 150px;
    margin: 30px;
}
#box1{
    
    background-color: yellowgreen;
    box-shadow: 4px 4px 6px;
    margin-left: auto ;
}
#box2{
    
    background-color: rgb(60, 50, 205);
    box-shadow: 4px 4px 6px;
}
#img1{
    float: right;
    margin-right: 10px;
}
#img2{
    float: left;
    margin-left: 10px;
}
.margin{
    border: 2px solid;
    height: 55px;
    overflow: auto;
}
.display{
    background-color: red;
    margin: 10px;
    height: 100px;
    width: 100px;
    display: inline-block;
    visibility: hidden;
}
span{
    background-color: rgb(69, 77, 187);
    height: 100px;
    width: 100px;
    display: block;
}
.heightwidth{
    background-color: azure;
    border: 2px  solid;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    min-width: 40%;
}

#square1{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 228, 196);
    position: sticky;
    position: fixed;
    position: relative;
    left: 0px;
    top: 0px;
}
#square2{
    width: 100px;
    height: 100px;
    background-color: rgb(172, 249, 199);
    position: absolute;
    left: 50px;
    top: 50px;
}

body{
    background-image: url(1315627.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}