body{
    font-family: Arial;
    background-color: cadetblue;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-left: 580px;
    margin-right: 580px;
    padding: 20px;
    background-color: white;
    color: rgb(103, 0, 0);
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*auto-fit = auto adjust columns based on available space*/
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin:auto;
}
.product-card{
    background: aliceblue;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.product-card img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;
}
.product-card h3{
    margin: 15px 0 10px;
    font-size: 1.2em;
    color: #333;
}
.product-card p{
    color: #666;
    font-size: 16px;
}
.price{
    font-weight: bold;
    color: #27ae60;
    font-size: 1.1em;
    margin: 10px;
}
.btn{
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #02558c;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.btn:hover{
    background-color: rgb(58, 89, 247);
}
@media (max-width:600px){
    .product-card img {
        height: 150px;
    }
    .product-card h3 {
        font-size: 16px;
    }
    .ptroduct-card p {
        font-size: 12px;
    }
}

/* Tablet view */
@media (min-width:601px) and (max-width:1024px){
    .product-card img {
        height:180 px;
    }
    .product-card h3{
        font-size: 1.1em;
    }
    .product-card p{
        font-size: 14px;
    }
}