body{
    font-family: Arial,sans-serif;
    background-color: lightgray;
    text-align: center;
    margin: 20px;
}
h1{
    color: rgb(3, 3, 3);
    margin-bottom: 20px;
}
.product-box {
    background-color: white;
    width: 300px;
    margin: 0 auto; /* this pushes the element to center horizontally*/
    padding: 10px;
    border: 2px solid gray;
    border: 9px;
}
img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
h2{

}
.description{
    color: black;
    font-size: 14px;
}
.price{
    color: red;
    font-size: larger;
}
.button{
    color: white;
    background-color: blue;
    height: 4opx;
    width: 150px;
    border-radius: 5px;
    margin-bottom: 1cm;

}

