div{
            height: 100px;
            width: 200px;
            padding: 20px;
            border: 5px solid red;
            box-sizing: content-box;
            background-color: yellow;
        }
span{
    height: 100px;
    width: 20px;
    background-color: rgb(191, 219, 137);
    border: solid rgb(124, 225, 235);
    
}